        <main>
            <img src="/assets/img/404.png" alt="error 404, content not found">
        </main>

<%- contentFor('title') %>
error 404
<%- contentFor('extracss') %>
<link type="text/css" rel="stylesheet" href="css/wip.css">
<link rel="stylesheet" href="css/404.css">        