    <!-- admin Header -->
    <header>
        <nav class="container">
            <picture class="logo">
                <a href="/">
                    <img src="../assets/img/branding/full-logo.svg" alt="Homepage Logo ">
                </a>
            </picture>
            <ul class="nav" id="nav">
                <li> <a href="/">Ver tienda</a></li>
                <li> <a href="/admin">Admin</a> </li>
                <li> <a href="/login">Salir</a> </li>
            </ul>

        </nav>
        <button class="hamburger" id="ham">
            <img src="../assets/img/icons/hamburger_icon.svg" alt="" height="30px" width="auto">
        </button>
    </header>
    <!-- End Header -->