    <!--fOOTER-->
    <footer>
        <section class="container">
            <div class="footer">
                <ul class="footer--nav">
                    <li> <a href="/pages/shop.html">Shop</a> </li>
                    <li> <a href="/pages/register.html">Registrarse</a> </li>
                    <li> <a href="/pages/login.html">Ingresar</a> </li>
                    <li> <a href="/pages/contact.html">Contacto</a> </li>
                </ul>
                <picture class="footer--img">
                    <a href="index.html"><img src="../assets/img/branding/isotype.svg" alt="logo" width="143px"></a>
                </picture>
            </div>
            <p class="footer--rights"> All rights reserved 2023 - Funkoshop &copy</p>
        </section>
    </footer>
    <!--end footer-->