    <!--fOOTER-->
    <footer>
        <section class="container">
            <div class="footer">
                <ul class="footer--nav">
                    <li> <a href="/shop">Shop</a> </li>
                    <li> <a href="/auth/register">Registrarse</a> </li>
                    <li> <a href="/auth/login">Ingresar</a> </li>
                    <li> <a href="/contact">Contacto</a> </li>
                </ul>
                <picture class="footer--img">
                    <a href="/"><img src="/assets/img/branding/isotype.svg" alt="logo" width="143px"></a>
                </picture>
            </div>
            <p class="footer--rights"> All rights reserved 2023 - Funkoshop &copy</p>
        </section>
    </footer>
    <!--end footer-->
